<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="hello-world">{{ this.text }}</mat-card-title>
            <mat-card-subtitle>Here are some pleasent links</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                <h4>Relaxation/calm down links</h4>
                <hr>
                Guided imagery
                <mat-nav-list>
                    <a mat-list-item href="/https://www.youtube.com/watch?v=Jyy0ra2WcQQ&feature=youtu.be">
                        Guided Meditation - Blissful Deep Relaxation</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=xoYnqvadurg&feature=youtu.be">
                        10 Minute Guided Meditation to ease Anxiety Worry, Overthinking & Urgency</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=6kVlonPVAjI&feature=youtu.be">
                        How to Meditate: 5-Minute Mastery</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=z39iodZOf00&feature=youtu.be">
                        Floating on a Cloud</a>
                </mat-nav-list>
                <hr>
                Satisfying videos
                <mat-nav-list>
                    <a mat-list-item href="https://www.youtube.com/watch?v=Yt1JtbhSIMc">
                        Try Not To Get Satisfied Challenge (99.9% Will Fail!)</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=csjhIkKnz4Q">
                        *IMPOSSIBLE* Try not to be Satisfied Challenge!</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=Orrr7PyaZs4">
                        The Most Satisfying Video in the World - Amazing Videos Oddly Satisfying</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=uLu6iq0NaqU">
                        This is Proven the Most Oddly Satisfying Video 2017</a>
                </mat-nav-list>
                <hr>
                Yoga
                <mat-nav-list>
                    <a mat-list-item href="https://www.youtube.com/watch?v=eMHg8sSmKWs">
                        Yoga For Stress Relief - Beginners Flow for Stress & Anxiety Relief</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=hJbRpHZr_d0">
                        Yoga For Anxiety and Stress</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=Nw2oBIrQGLo&feature=youtu.be">
                        15 minute CALMING YOGA for Stress Relief and Anxiety</a>
                </mat-nav-list>
                <hr><hr>
                <h4>Make me laugh!</h4>
                <hr>
                animals
                <mat-nav-list>
                    <a mat-list-item href="https://www.youtube.com/watch?v=XyNlqQId-nk&feature=youtu.be">
                        The funniest and most humorous cat videos ever! - Funny cat compilation</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=EtH9Yllzjcc">
                        Try Not To Laugh Challenge - Funny Cat & Dog Vines compilation 2017</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=BfFi4wba30g&feature=youtu.be">
                        If It Fits, I Sits - The Supercut</a>
                </mat-nav-list>
                <hr>
                Babies/Kids
                <mat-nav-list>
                    <a mat-list-item href="https://www.youtube.com/watch?v=WxUulGkLu4I">
                        4 Laughing Babies</a>
                    <a mat-list-item href="https://www.youtube.com/watch?v=1JArN6rag8s">
                        BEST Babies Laughing Videos Compilation</a>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
